<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Management</title>
    <link rel="stylesheet" href="/static/menu_management_styles.css">
</head>
<body>
    <header>
        <h1>Menu Management</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('menu_or_order') }}">Dashboard</a></li>
            <li><a href="{{ url_for('add_menu_item') }}">Add Item</a></li>
            <li><a href="{{ url_for('restaurant_logout') }}">Sign out</a></li>
        </ul>
    </nav>

    <button class="back-button" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </button>

    <div id="menu-items-container">
        {% for item in menu_items %}
        <div class="menu-item">
            <!-- Image Section -->
            <div class="menu-item-image">
                {% if item[4] %}
                <img src="{{ url_for('static', filename='uploads/' + item[4]) }}" alt="Menu Item Image" class="menu-item-image" />
                {% else %}
                <div class="no-image">No Image</div>
                {% endif %}
            </div>
        
            <!-- Details Section -->
            <div class="menu-item-details">
                <h3 class="menu-item-name">{{ item[1] }}</h3>
                <p class="menu-item-price">Price: €{{ item[2] }}</p>
                <p class="menu-item-description">{{ item[3] }}</p>
            </div>
        
            <!-- Actions Section -->
            <div class="menu-item-actions">
                <a href="/edit_menu_item/{{ item[0] }}" class="edit-button">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
