<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders_styles.css') }}">
</head>
<body>
    <header>
        <h1>My Orders</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('browse_restaurants') }}">Browse</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if orders %}
        <div class="orders-container">
            {% for order in orders %}
            <div class="order-card">
                {% if order.Restaurant.Image %}
                <img src="{{ url_for('static', filename='uploads/' + order.Restaurant.Image) }}" alt="Restaurant Logo">
                {% endif %}
                <div>
                    <h2>{{ order.Restaurant.Name }}</h2>
                    <p>Order ID: {{ order.Orders_id }}</p>
                    <p>Order Date: {{ order.Order_Date }}</p>
                    <div class="item-list">
                        <ul>
                            {% for item in order.Items %}
                            <li>{{ item.Item_name }}  <span>€{{ '%.2f' | format(item.Price) }} x{{ item.Quantity }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="remark-container">
                        <p class="remark">Remark: {{ order.Remark }}</p>
                    </div>
                    <div class="price-status">
                        <p class="total">Total: €{{ order.Total_Amount }}</p>
                        <p class="status {{ order.Order_Status|lower }}">{{ order.Order_Status }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You have no orders yet.</p>
        {% endif %}
    </main>
</body>
</html>
