<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='order_management_styles.css') }}">
</head>
<body>
    <header>
        <h1>Order Management</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('menu_or_order') }}">Dashboard</a></li>
                <li><a href="{{ url_for('restaurant_logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            {% if orders %}
            <div class="orders-container">
                {% for order in orders %}
                <div class="order-card">
                    <div>
                        <p>Order ID: {{ order.Orders_id }}</p>
                        <p>Order Date: {{ order.Order_Date }}</p>
                        <div class="item-list">
                            <ul>
                                {% for item in order.Items %}
                                <li>{{ item.Item_name }} <span>€{{ '%.2f' | format(item.Price) }} x{{ item.Quantity }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="remark-container">
                            <p class="remark">Remark: {{ order.Remark }}</p>
                        </div>
                        <div class="price-status">
                            <p class="total">Total: €{{ '%.2f' | format(order.Total_Amount) }}</p>
                            <p class="status {{ order.Order_Status|lower }}">{{ order.Order_Status }}</p>
                        </div>
                    </div>
                    {% if order.Order_Status == 'Pending' or order.Order_Status == 'In Preparation' %}
                    <form method="POST" action="{{ url_for('update_order_status') }}">
                        <input type="hidden" name="order_id" value="{{ order.Orders_id }}">
                        <button type="submit" name="status" value="In Preparation">In Preparation</button>
                        <button type="submit" name="status" value="Completed">Completed</button>
                        <button type="submit" name="status" value="Cancelled">Cancel</button>
                    </form>
                    {% else %}
                        <span>No actions available</span>
                    {% endif %}
                    <div class="customer-container">
                            <p class="customerName">Name: {{ order.Customer.Name }}</p>
                            <p class="address">{{ order.Customer.Street }}, {{ order.Customer.House_number }}, {{ order.Customer.Postcode }}, {{ order.Customer.City }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>You have no orders yet.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
